<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Accueil</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/accueil.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="conteneur">
            <!-- Barre de navigation -->
            <div class="navbarre">
                <ul class="ul">
                    <li class ="li"><a href="../templates/accueil.html">Accueil</a></li>
                    <li class ="li"><a href="../templates/animes.html">Animes</a></li>
                    <li class ="li"><a href="../templates/profil.html">Mon profil</a></li>
                </ul>
            </div>
            <!-- Fin Barre de navigation -->
            <!-- Message d'accueil -->
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Bienvenue à Weeb-land !</h1>
                    <p class="lead text-muted">Un site créé par Nicolas et Birkan afin que tous les fans d'animes puissent lister leurs animes préférés.</p>
                  </div>
                </div>
              </section>
            <!-- Fin Message d'accueil -->
            <div class="block">
                <div>
                    <ul class="ul"><li class ="li"><a>Vos listes</a></li></ul>
                </div>
                <div class="watchliste">
                    <div class="col">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                          <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 montexte">Liste n°1</strong>
                                <h3 class="mb-0">À regarder</h3>
                                <p class="card-text mb-auto" style="margin-top: 2.5%;">Liste contenant les animes que je dois voir.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
                          <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 montexte" style ="color: #333;">Liste n°2</strong>
                                <h3 class="mb-0">Déjà vu</h3>
                                <p class="card-text mb-auto" style="margin-top: 2.5%;">Liste contenant tous les animes que j'ai déjà vu.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 1%;">
                <a class="btn btn-primary btn-lg" style="background-color: #333; border: none;" role="button" href="../templates/ajout_liste.html">Ajouter une liste</button></a>
            </div>
        </div>
    </body>
</html>