<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Accueil</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/accueil.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="conteneur">
            <!-- Barre de navigation -->
            <div class="navbarre">
                <ul class="ul">
                    <li class ="li"><a href="/accueil">Accueil</a></li>
                    <li class ="li"><a href="/animes">Animes</a></li>
                    <li class ="li"><a href="/ajout_anime_liste">Modifier une liste</a></li>
                    <li class ="li"><a href="/profil">Mon profil</a></li>
                </ul>
            </div>
            <!-- Fin Barre de navigation -->
            <!-- Message d'accueil -->
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Bienvenue à Weeb-land !</h1>
                    <p class="lead text-muted">Un site créé par Nicolas et Birkan afin que tous les fans d'animes puissent lister leurs animes préférés.</p>
                  </div>
                </div>
              </section>
            <!-- Fin Message d'accueil -->
            <div class="block">
                <div id="idUser" th:text="${session.user.id}"></div>
                <div>
                    <ul class="ul"><li class ="li"><a>Vos listes</a></li></ul>
                </div>
                <div id="liste" class="watchliste">
                </div>
            </div>
            <div style="margin-top: 2.5%;margin-bottom:5%;">
                <a class="btn btn-primary btn-lg" style="background-color: #333; border: none;" role="button" href="/ajout_liste">Ajouter une liste</button></a>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/accueil.js"></script>
</html>