<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Modification liste</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/ajout_anime_liste.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="conteneur">
            <div class="navbarre">
                <ul class="ul">
                    <li class ="li"><a href="/accueil">Accueil</a></li>
                    <li class ="li"><a href="/animes">Animes</a></li>
                    <li class ="li"><a href="/ajout_anime_liste">Modifier une liste</a></li>
                    <li class ="li"><a href="/profil">Mon profil</a></li>
                </ul>
            </div>
            <div class="block">
                <div>
                    <ul class="ul"><li class ="li"><a>Ajout d'anime à une liste</a></li></ul>
                </div>
                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nom de la liste</label>
                      <select id="liste1" class="form-control">
                        <option value="-1">Selectionner le nom de la liste</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nom de l'anime</label>
                      <select id="liste2" class="form-control">
                        <option value="-1">Selectionner le nom de l'anime</option>
                      </select>
                    </div>
                    <a class="btn btn-primary" role="button" onclick="bouton_ajouter()">Ajouter</button></a>
                </form>
            </div>
            <div class="block">
                <div>
                    <ul class="ul"><li class ="li"><a>Supprimer un anime de la liste</a></li></ul>
                </div>
                <form>
                    <div class="form-group">
                      <label>Nom de la liste</label>
                      <select id="liste3" class="form-control" onchange="onChangeSelect()">
                        <option value="-1">Selectionner le nom de la liste</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Nom de l'anime</label>
                      <select id="liste4" class="form-control" >
                        <option value="-1">Selectionner le nom de l'anime</option>
                      </select>
                    </div>
                    <a class="btn btn-primary" role="button" onclick="bouton_suppr()">Supprimer</button></a>
                </form>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/ajout_anime_liste.js"></script>
</html>