<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Accueil</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/ajout_anime.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="conteneur">
            <div class="navbarre">
                <ul class="ul">
                    <li class ="li"><a href="/accueil">Accueil</a></li>
                    <li class ="li"><a href="/animes">Animes</a></li>
                    <li class ="li"><a href="/profil">Mon profil</a></li>
                </ul>
            </div>
            <div class="block">
                <div>
                    <ul class="ul"><li class ="li"><a>Nouvel anime :</a></li></ul>
                </div>
                <form>
                    <div  class="form-group">
                      <label for="exampleInputEmail1">Nom de l'anime</label>
                      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Entrez le nom">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Image</label>
                      <input class="form-control" placeholder="Entrez l'URL">
                      <small id="emailHelp" class="form-text text-muted">Lien vers l'image (URL).</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nombre d'épisodes</label>
                        <input class="form-control" placeholder="Entrez le nombre d'épisodes">
                    </div>
                    <a class="btn btn-primary" role="button" href="/animes">Créer</button></a>
                </form>
            </div>
        </div>
    </body>
</html>