<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Écran de connexion</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<main class="flex">
    <section id="cat-bounce" style="display: flex;">
        <canvas width="725" height="880" style="background:  0% 0% / contain transparent;"></canvas>
    </section>

    <div class="loginbox">
        <h1>Connectez-vous</h1>
        <form action="#" th:action="@{/authentification}" th:object="${test}" method="post">
            <p>Pseudo: <input type="text" th:field="*{pseudo}" placeholder="Identifiant" required/></p>
            <p>Mot de passe: <input type="password" th:field="*{mdp}" placeholder="Mot de passe" required/></p>
            <p><input type="submit" value="Submit" />
        </form>
    </div>
</main>
<!-- Javascript -->
<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>

</html>