<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Modification mot de passe</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/ajout_anime.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body>
        <div class="conteneur">
            <div class="navbarre">
                <ul class="ul">
                    <li class ="li"><a href="/accueil">Accueil</a></li>
                    <li class ="li"><a href="/animes">Animes</a></li>
                    <li class ="li"><a href="/ajout_anime_liste">Modifier une liste</a></li>
                    <li class ="li"><a href="/profil">Mon profil</a></li>
                </ul>
            </div>
            <div class="block">
                <div>
                    <ul class="ul"><li class ="li"><a>Nouveau mot de passe :</a></li></ul>
                </div>
                <form>
                    <div  class="form-group">
                      <label for="exampleInputEmail1">Nouveau mot de passe :</label>
                      <input id ="mdp" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Entrez le nouveau mot de passe" required>
                    </div>
                    <a type="submit" class="btn btn-primary" role="button" onclick="modiferMDP()">Modifier</button></a>
                  </form>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/modif_mdp.js"></script>
</html>